.log-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
  display: none; }

.login {
  width: 350px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 650px;
  z-index: 101;
  background-color: white;
  display: none; }
  .login .log-head {
    width: 340px;
    height: 38px;
    line-height: 51px;
    padding: 5px;
    background-color: #fb3434; }
    .login .log-head .log-img {
      width: 51px;
      height: 25px;
      float: left; }
      .login .log-head .log-img img {
        width: 100%;
        height: 100%;
        z-index: 120; }
    .login .log-head span {
      font-size: 30px;
      color: white;
      font-weight: bold;
      float: right;
      line-height: 30px;
      cursor: pointer; }
  .login .log-body {
    width: 350px; }
    .login .log-body span {
      float: left;
      width: 150px;
      height: 40px;
      font-size: 18px;
      color: #333;
      line-height: 40px;
      text-align: center;
      margin-left: 17px;
      margin-top: 25px; }
    .login .log-body .current {
      border-bottom: 2px solid #333; }
    .login .log-body input {
      padding: 0 20px;
      border: 1px solid #ccc;
      width: 272px;
      height: 40px;
      margin-left: 17px;
      margin-top: 25px; }
    .login .log-body .sub {
      width: 317px;
      height: 40px;
      margin-left: 17px;
      margin-top: 25px;
      font-size: 18px;
      color: white;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fb3434; }
    .login .log-body p {
      float: right;
      margin-top: 30px;
      margin-right: 15px; }
      .login .log-body p a {
        font-size: 12px;
        color: #999;
        margin-right: 10px;
        line-height: 30px; }
